<!DOCTYPE html>
<html>
  <head>
    <title>Community Portal</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a> | <a href="/add">Contact</a>
    </nav>
  </body>
</html>