<h1>Appliance Information</h1>

<form method="POST" action="/add">

  <label for="applianceName">Appliance Name:</label>
  <input type="text" id="applianceName" name="applianceName" placeholder="Appliance Name" required /><br><br>

  <label for="insuredStatus">Select Insured Status:</label>
  <select id="insuredStatus" name="insuredStatus" required>
    <option value="unknown" selected>Unknown</option>
    <option value="insured">Insured</option>
    <option value="uninsured">Uninsured</option>
  </select><br><br>

  <label for="applianceCondition">Select Appliance Condition:</label>
  <select id="applianceCondition" name="applianceCondition">
    <option value="working">Working</option>
    <option value="not working">Not Working</option>
  </select><br><br>

  <label for="applianceValue">Appliance Value:</label>
  <input type="number" id="applianceValue" name="applianceValue" placeholder="0" required /><br><br>

  <button type="submit">Send</button>
</form>
